body {
    font-family: 'Segoe UI', system-ui, sans-serif;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    color: white;
    background-image: url("images/bg.jpg");
    background-color: #ffffff;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav,
#Menu {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

nav {
    margin: 0 auto 20px auto;
    width: fit-content;
    padding: 10px 12px;
}

#Menu {
    position: absolute;
    top: 20px;
    left: 10px;
    padding: 6px 5px;
}

nav a,
#Menu a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    margin: 0 5px;
    padding: 8px 18px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.95rem;
    transition: all 0.3s ease;
}

nav a:hover,
nav a.active,
#Menu a:hover,
#Menu a.active {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

nav {
    color: transparent;
}


.projects-grid {
    display: grid;
    width: 100%;
    max-width: 1100px;
    padding: 20px;
}

.project-card {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.project-card:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.07);
    border-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.project-card:hover h3 {
    color: #c58b33;
}

.project-card h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: color 0.3s ease;
}

.project-card p {
    color: #ffffff;
    font-size: 0.95rem;
    line-height: 1.6;
    text-align: center;
}

.link-card a {
    text-decoration: none;
}

.link-card a:hover {
     text-decoration: underline;
}

hr {
    width: 80%;
    border: none;
    height: 1px;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
    margin: 10px 0;
}