
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-image: url("bg.jpg");
    background-color: #ffffff;
    background-blend-mode:darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;     
    background-attachment: fixed;
}
hr {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    margin: 30px 0;
}

h1 {
    text-align: center;
    color: #e1e1e1;
    margin-bottom: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: rgba(255, 255, 255,0); 
    backdrop-filter: 
    blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-bottom: 15px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

li:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.02);
}

a {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.1rem;
}

a:hover {
    color: #000000;
}
