
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://img.freepik.com/free-photo/terrifying-screaming-adult-silhouette-studio_23-2150710128.jpg?semt=ais_hybrid&w=740&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;     
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 0;
    padding: 0;
}

nav {
    background: rgb(70, 4, 4);
    padding: 15px;
    border-radius: 50px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

nav a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    margin: 0 5px;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
    display: inline-block;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.8);
    color: rgb(255, 255, 255);
}

.case-container {
    padding: 40px 10%;
    width: 100%;
}

h1 {
    color: #e6e6e6;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 3px double #8b0000;
    margin-bottom: 50px;
    background: linear-gradient(to right, transparent, #320202, transparent);
}

.cases {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.perron-family,
.Annabelle,
.amityville-horror,
.enfield {
    padding: 25px;
    border-left: 5px solid #8b0000;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, border-color 0.3s ease;
    width: 100%;
    display: flex;
}

.perron-family:hover,
.Annabelle:hover,
.amityville-horror:hover,
.enfield:hover {
    transform: translateY(-10px);
    border-left-color: #ff0000;
}

.cases a {
    text-decoration: none;
}

.cases h3 {
    margin-bottom: 15px;
    color: #ff4d4d;
    font-size: 1.2rem;
}

.case_content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 15px;
    width: 80%;
}

.case-text {
    flex: 2;
}

.case-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 1px solid #444;
    display: flex;
}

.case-image img {
    height: 200px;
    width: 20%;
    border-radius: 4px;
    margin: 20px auto;
    border: 2px solid white;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

img:hover {
    transform: scale(1.1);
    border-left-color: #ff0000;
}

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, transparent, #8b0000, transparent);
    margin: 60px 0;
}

.quote {
    width: 90%;
    text-align: center;
    max-width: 900px;
    margin: 0 auto 100px auto;
    padding: 20px;
}

.quote p {
    font-size: 1.2rem;
    color: #e6e6e6;
    line-height: 2;
}
